@import ../../styles/variables.sass
.navbar
    height: $--nav-size
    background-color: $--bg
    padding: 0 1rem
    border-bottom: $--border-radius
    &-name
        font-size: 22px
        position: absolute
        left: 0
        padding: 1rem
        color: $--text-color
        text-decoration: none
    &-nav
        max-width: 100%
        height: 100%
        display: flex
        align-items: center;
        justify-content: flex-end
    &-item
        height: calc(#{$--nav-size} * 0.8)
        display: flex
        align-items: center
        justify-content: center
    &-icon
        $btn-size: calc(#{$--nav-size}*0.6)
        width: $btn-size
        height: $btn-size
        border-radius: 50%
        background-color: #484a4d
        padding: 5px
        margin: 2px
        display: flex
        align-items: center
        justify-content: center
        &:hover
            filter: brightness(1.2)
    &-icon svg
        fill: $--text-color
        width: 20px;
        height: 20px;        
.dropdown
    position: absolute
    top: 58px
    width: 25%
    min-width: 100px
    transform: translateX(-45%)
    background-color: $--bg
    border: $--border
    padding: 1rem
    border-radius: $--border-radius
    overflow: hidden
    color: $--text-color
    &-item
        height: 50px
        display: flex
        align-items: center
        border-radius: $--border-radius
        transition: background $--speed
        padding: 0.5rem
        position: relative
        &::after
            content: ""
            display: block
            position: absolute
            bottom: 0
            left: 0
            width: 100%
            border-bottom: $--border
        &:hover
            background-color: #525357
    &-lefticon
        @extend .navbar-icon
        margin-right: auto
    &-righticon
        margin-left: auto
    &-text
        display: flex
        flex-direction: column
        justify-content: center;
        align-items: center;
    &-profile
        @extend .dropdown-item        
        height: $--nav-size
        &-image
            @extend .navbar-icon
            width: 60px
            height: 60px
            padding: 0
            overflow: hidden
            flex-shrink: 0
            img 
                width: 100%
                height: 100%
                object-fit: cover
        &-textarea
            @extend .dropdown-text
            margin: 0
            width: 100%
            
        &-fullname
            width: 100% 
            display: flex
            justify-content: center
            


