$backgroundColor: #363940;
$itemBackgroundColor: #5348b8
.sidebar
    width: 60px
    height: 100vh
    position: fixed
    background-color: $backgroundColor
    border-radius: 0px  13px 13px 0px 
    &__item
       width: 50px
       height: 50px
       margin-top: 10px
       margin-left: 5px
       margin-right: 5px
       border-radius: 50%
       background-color: $itemBackgroundColor
       display: flex
       color: #FFFFFF
       justify-content: center;
       align-items: center
       cursor: pointer
       &-add
           @extend .sidebar__item
           background-color: $backgroundColor
           border: 3px dashed #00FF00
           color: #00FF00
