.sign-up
  max-width: 700px

.form-container
  display: flex

.form__block
  align-self: flex-end

.sign-up .form__subtitle
  margin-bottom: 5px

.form__input_photo
  margin-top: 5px
  display: block
  margin-bottom: 25px

.form__input_photo
  border: 3px dashed #999
  width: 90px
  height: 110px
  border-radius: 3px
  cursor: pointer
  background-color: #fff

.sign-up .form__button
  width: 25%
  margin-top: 10px