.sign-up
  max-width: 550px
  .form__subtitle
     margin-bottom: 10px
  .form__button
    margin: 10px 5px 0
  .button_google
    margin-right: 20px

.form__block
  margin-right: 20px

.form-container
  display: flex
  align-items: flex-end
  justify-content: space-between

.form__input_photo
  margin-top: 5px
  display: block
  margin-bottom: 15px
  align-self: baseline

.form__input_photo
  border: 2px dashed #999
  width: 90px
  height: 110px
  border-radius: 3px
  cursor: pointer
  background-color: rgba(255, 255, 255, 0.8)

.form__footer
  display: flex
  align-items: baseline

