$backgroundColor: #626366;
.homepage
    &__chatlist
        background-color: $backgroundColor
        width: 400px
        height: 100vh
    &__layout
        display: flex
        flex-direction: row
    &__message-container
        height: 100vh
        background-color: #31407c
        

        
        